@model RegisterInputModel

<section id="login-section" class="login-page">
<h2>Załóż konto</h2>
    <form asp-controller="Account" asp-action="Register"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-complete="replaceContent(xhr, 'login-section')">
        <div class="form-group">
            <input asp-for="Email" placeholder="Email" />
        </div>
        <div class="form-group">
            <input asp-for="Password" placeholder="Hasło" />
        </div>
        <div class="form-group">
            <input asp-for="ConfirmPassword" placeholder="Powtórz hasło" />
        </div>

        <div class="form-group form-group--buttons">
            <a href="#" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Załóż konto</button>
        </div>
    </form>
</section>

