<div class="form-group form-group--buttons">
    <button type="button" class="btn prev-step">@Localizer["backButton"]</button>
    <button type="button" class="btn next-step">@Localizer["nextButton"]</button>
</div>